.keep-scrollbar {
    overflow-y: auto !important;
  }
  
  body.keep-scrollbar {
    overflow: auto !important;
  }
  
.my-date-picker{
  width: 100%;
}

.rounded-border{
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


/* =======================IMAGE PREV========================= */
.image-preview {
  position: relative;
}

.image-preview-icon {
  position: absolute;
  top: 5px;
  color: red;
  background-color: aliceblue;
  border: 1px solid #ccc; /* Added solid border */
  border-radius: 5px;
  right: 10px; /* Set default for small screens */
}

.image {
  border-radius: 10px;
  border: 2px solid #ddd; /* Solid border for better visibility */
  width: 35%; 
  height: 2%;
}

.icon {
  margin: 5px;
  font-size: 16px; /* Default size for the icon */
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
  .image-preview-icon {
    right: 10px; /* Adjust icon position for medium screens */
    top: 10px;
  }
}

@media (min-width: 992px) {
  .image-preview-icon {
    right: 10px; /* Adjust icon position for large screens */
    top: 5px;
  }

  .icon {
    font-size: 20px; /* Increase icon size for larger screens */
  }
}
/* =============================== */


/* * =======================GALLERY PREV START========================= */
/* Gallery container styling */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* justify-content: center; */
}

/* Wrapper for each image */
.image-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

/* Image styling */
.image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* Delete button styling */
.delete-button {
  position: absolute;
  top: 5px;
  padding: 1%;
  right: 5px;
  z-index: 1;
  color: white;
  background-color: gray;
  opacity: 0;
}

.image-wrapper:hover .delete-button {
  opacity: 1;
  background-color: gray;

}

/* ================GALLERY PREV END=============== */





/* =========== */
/* Prevent body scroll locking when modal is open */
body.modal-open {
  overflow-y: scroll !important;
}


/* =================TREE CSS============== */
.tree-container {
  position: relative;
  margin-left: 20px;
}

.tree-item {
  position: relative;
  margin-bottom: 8px;
}

.tree-label {
  display: flex;
  align-items: center;
  /* padding: 5px 10px; */
  /* border: 1px solid transparent; */
  /* border-radius: 5px; */
  /* transition: background-color 0.3s, border-color 0.3s; */
}

.tree-label:hover {
  /* background-color: #f0f0f0;
  border-color: #ddd; */
}

.tree-label.expanded {
  font-weight: bold;
  color: #007bff;
}

.tree-toggle {
  cursor: pointer;
  transition: transform 0.3s;
}

.tree-icon {
  margin-right: 5px;
}

.tree-name {
  /* flex-grow: 1; */
  transition: color 0.3s;
}

/* .tree-name:hover {
  color: #007bff;
} */

.tree-delete {
  color: red;
  cursor: pointer;
  transition: transform 0.3s;
}

/* .tree-delete:hover {
  transform: scale(1.2);
} */

.tree-children {
  margin-left: 20px;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.tree-children::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 100%;
  border-left: 2px solid #ccc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

